.size__button {
    width:50px;
    border-radius: 16px;
}

.size__button:hover {
    transform: scale(1.05);
}

.upload__button {
    width: 502px;
    height: 50px;
    margin-bottom: 10px;
}

.upload__button:hover {
    
}