* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: "Lucida Console";
    background-color: #f5f5f5;
}

aside {
    position: sticky;
    top: 0;
    height: 75vh;
    width: 125px;
    background:white;
    border: 1px solid black;
    border-radius: 30px;
    margin: 1rem;
    padding-top: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 1rem;
}

footer {
    position: sticky;
    top: 0;
    height: 75vh;
    width: 125px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.nav-nm {
    font-size: 18px;
}

.toolbox {
    
}

.toolbox-sizes-other {
    display: flex;
}

.toolbox__sizes {
    display: flex;
    gap: 2px;
}

.toolbox__other {
    display:flex;
    margin-left: 180px;
    gap: 2px;
}

.tool__other {
    width: 50px;
    border-radius: 16px;
}

.tool__other:hover {
    transform: scale(1.05);
}

#brs-size-inf {
    border: 1px solid;
    border-radius: 16px;
}

#post {
    touch-action: none;
    border: 1px solid #000000;
    background-color: white;
}

#canvas-post {
    border: 1px solid #000000;
}
